<a href="https://colab.research.google.com/github/Anuj2615/Anuj2615/blob/main/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Amazon Data**

In [ ]:
import pandas as pd
import math
import re
import nltk
import matplotlib.pyplot as plt
from collections import Counter
from nltk.corpus import stopwords
df=pd.read_csv(r"/content/Amazon.csv",encoding="Latin-1")
df.head(600)

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,A2P9RFHSSHMMCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,A39FBR8FDKLWX3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,A12GC85NZMRMI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,A2JVRQQD3FO79B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,A2RI2ACXXYPQJB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4848 entries, 0 to 4847
Data columns (total 207 columns):
 #    Column    Dtype
---   ------    -----
 0    user_id   object
 1    Movie1    float64
 2    Movie2    float64
 3    Movie3    float64
 4    Movie4    float64
 5    Movie5    float64
 6    Movie6    float64
 7    Movie7    float64
 8    Movie8    float64
 9    Movie9    float64
 10   Movie10   float64
 11   Movie11   float64
 12   Movie12   float64
 13   Movie13   float64
 14   Movie14   float64
 15   Movie15   float64
 16   Movie16   float64
 17   Movie17   float64
 18   Movie18   float64
 19   Movie19   float64
 20   Movie20   float64
 21   Movie21   float64
 22   Movie22   float64
 23   Movie23   float64
 24   Movie24   float64
 25   Movie25   float64
 26   Movie26   float64
 27   Movie27   float64
 28   Movie28   float64
 29   Movie29   float64
 30   Movie30   float64
 31   Movie31   float64
 32   Movie32   float64
 33   Movie33   float64
 34   Movie34   float64
 35   Movie35   float64
 36   Movie36   float64
 37   Movie37   float64
 38   Movie38   float64
 39   Movie39   float64
 40   Movie40   float64
 41   Movie41   float64
 42   Movie42   float64
 43   Movie43   float64
 44   Movie44   float64
 45   Movie45   float64
 46   Movie46   float64
 47   Movie47   float64
 48   Movie48   float64
 49   Movie49   float64
 50   Movie50   float64
 51   Movie51   float64
 52   Movie52   float64
 53   Movie53   float64
 54   Movie54   float64
 55   Movie55   float64
 56   Movie56   float64
 57   Movie57   float64
 58   Movie58   float64
 59   Movie59   float64
 60   Movie60   float64
 61   Movie61   float64
 62   Movie62   float64
 63   Movie63   float64
 64   Movie64   float64
 65   Movie65   float64
 66   Movie66   float64
 67   Movie67   float64
 68   Movie68   float64
 69   Movie69   float64
 70   Movie70   float64
 71   Movie71   float64
 72   Movie72   float64
 73   Movie73   float64
 74   Movie74   float64
 75   Movie75   float64
 76   Movie76   float64
 77   Movie77   float64
 78   Movie78   float64
 79   Movie79   float64
 80   Movie80   float64
 81   Movie81   float64
 82   Movie82   float64
 83   Movie83   float64
 84   Movie84   float64
 85   Movie85   float64
 86   Movie86   float64
 87   Movie87   float64
 88   Movie88   float64
 89   Movie89   float64
 90   Movie90   float64
 91   Movie91   float64
 92   Movie92   float64
 93   Movie93   float64
 94   Movie94   float64
 95   Movie95   float64
 96   Movie96   float64
 97   Movie97   float64
 98   Movie98   float64
 99   Movie99   float64
 100  Movie100  float64
 101  Movie101  float64
 102  Movie102  float64
 103  Movie103  float64
 104  Movie104  float64
 105  Movie105  float64
 106  Movie106  float64
 107  Movie107  float64
 108  Movie108  float64
 109  Movie109  float64
 110  Movie110  float64
 111  Movie111  float64
 112  Movie112  float64
 113  Movie113  float64
 114  Movie114  float64
 115  Movie115  float64
 116  Movie116  float64
 117  Movie117  float64
 118  Movie118  float64
 119  Movie119  float64
 120  Movie120  float64
 121  Movie121  float64
 122  Movie122  float64
 123  Movie123  float64
 124  Movie124  float64
 125  Movie125  float64
 126  Movie126  float64
 127  Movie127  float64
 128  Movie128  float64
 129  Movie129  float64
 130  Movie130  float64
 131  Movie131  float64
 132  Movie132  float64
 133  Movie133  float64
 134  Movie134  float64
 135  Movie135  float64
 136  Movie136  float64
 137  Movie137  float64
 138  Movie138  float64
 139  Movie139  float64
 140  Movie140  float64
 141  Movie141  float64
 142  Movie142  float64
 143  Movie143  float64
 144  Movie144  float64
 145  Movie145  float64
 146  Movie146  float64
 147  Movie147  float64
 148  Movie148  float64
 149  Movie149  float64
 150  Movie150  float64
 151  Movie151  float64
 152  Movie152  float64
 153  Movie153  float64
 154  Movie154  float64
 155  Movie155  float64
 156  Movie156  float64
 157  Movie157  float64
 158  Movie158  float64
 159  Movie159  float64
 160  Movie160  float64
 161  Movie161  float64
 162  Movie162  float64
 163  Movie163  float64
 164  Movie164  float64
 165  Movie165  float64
 166  Movie166  float64
 167  Movie167  float64
 168  Movie168  float64
 169  Movie169  float64
 170  Movie170  float64
 171  Movie171  float64
 172  Movie172  float64
 173  Movie173  float64
 174  Movie174  float64
 175  Movie175  float64
 176  Movie176  float64
 177  Movie177  float64
 178  Movie178  float64
 179  Movie179  float64
 180  Movie180  float64
 181  Movie181  float64
 182  Movie182  float64
 183  Movie183  float64
 184  Movie184  float64
 185  Movie185  float64
 186  Movie186  float64
 187  Movie187  float64
 188  Movie188  float64
 189  Movie189  float64
 190  Movie190  float64
 191  Movie191  float64
 192  Movie192  float64
 193  Movie193  float64
 194  Movie194  float64
 195  Movie195  float64
 196  Movie196  float64
 197  Movie197  float64
 198  Movie198  float64
 199  Movie199  float64
 200  Movie200  float64
 201  Movie201  float64
 202  Movie202  float64
 203  Movie203  float64
 204  Movie204  float64
 205  Movie205  float64
 206  Movie206  float64
dtypes: float64(206), object(1)
memory usage: 7.7+ MB

In [ ]:
df.tail(30)

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
4818,A1JYYFGPMHSEB6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4819,A4LNTR1DZQXHC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4820,A32OHAXPTGZ3ML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4821,ARNOT3G5WS1ML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4822,A3KPYTKXGKMUVF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4823,AJX0YJBK0SWDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4824,A2E4OJWMR87W67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4825,A39FHHGWESJIXE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4826,AX7MXR0RLMX31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4827,A1CHS5AQLXXDXJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4828,A2KT3M7HFAOSKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4829,A1M27P0B2QCOH8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4830,A2G3QM6ZLT66HO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4831,A2YSM4732ZHGZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4832,A1PT4GB3A675ZW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4833,A23E3CUB03Z3YX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4834,A1DQA0HJSSAD5A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4835,A3FEZW3VTMKX15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4836,A38BQZBXICC9C5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4837,A27167LRSJEY1B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4838,A31KDG42LDKA68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4839,A1ZW2GF8QLTG62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4840,A15W9FRLBUXJNS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4841,AQ4JA4RFC5QHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
4842,A1HY5DOJCVB8MG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4843,A1IMQ9WMFYKWH5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4844,A1KLIKPUF5E88I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4845,A5HG6WFZLO10D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4846,A3UU690TWXCG1X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4847,AI4J762YI6S06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'textID': [1, 2, 3],
    'text': ['hello', 'good', 'bad'],
    'sentiment': ['positive', 'neutral', 'negative']
})

# Correct column selection=
df = df[['text', 'sentiment']]
print(df)

    text sentiment
0  hello  positive
1   good   neutral
2    bad  negative

In [ ]:
df.columns

Index(['text', 'sentiment'], dtype='object')

In [ ]:
df.head()

    text sentiment
0  hello  positive
1   good   neutral
2    bad  negative

In [ ]:
df=df.dropna(subset=['text'])

In [ ]:
df.shape

(3, 2)

In [ ]:
df['text'] = df['text'].astype(str)

In [ ]:
type('text')

str

In [ ]:
df['text_lower'] =df['text'].str.lower()

In [ ]:
print(df[['text','text_lower']])

    text text_lower
0  hello      hello
1   good       good
2    bad        bad

In [ ]:
df['text_upper']=df['text'].str.upper()

In [ ]:
print(df[['text','text_upper']])

    text text_upper
0  hello      HELLO
1   good       GOOD
2    bad        BAD

In [ ]:
df.to_csv("processed_amazon.csv",index=False)

In [ ]:
df[['text', 'sentiment']].isnull().sum()

text         0
sentiment    0
dtype: int64

**Test dataSet**

In [ ]:
import pandas as pd
import math
import re
import nltk
import matplotlib.pyplot as plt
from collections import Counter
from nltk.corpus import stopwords
df=pd.read_csv(r"/content/test.csv",encoding="Latin-1")
df.head(600)

FileNotFoundError: [Errno 2] No such file or directory: '/content/test.csv'

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
import pandas as pd

# Sample DataFrame
df_1 = pd.DataFrame({
    'textID': [1, 2, 3],
    'text': ['hello', 'good', 'bad'],
    'sentiment': ['positive', 'neutral', 'negative']
})

# Correct column selection
df_1 = df[['text', 'sentiment']]
print(df)

          textID                                               text sentiment  \
0     f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1     96d74cb729   Shanghai is also really exciting (precisely -...  positive
2     eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3     01082688c6                                        happy bday!  positive
4     33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive
...          ...                                                ...       ...
4810         NaN                                                NaN       NaN
4811         NaN                                                NaN       NaN
4812         NaN                                                NaN       NaN
4813         NaN                                                NaN       NaN
4814         NaN                                                NaN       NaN

     Time of Tweet Age of User      Country  Population -2020  \
0          morning        0-20  Afghanistan        38928346.0
1             noon       21-30      Albania         2877797.0
2            night       31-45      Algeria        43851044.0
3          morning       46-60      Andorra           77265.0
4             noon       60-70       Angola        32866272.0
...            ...         ...          ...               ...
4810           NaN         NaN          NaN               NaN
4811           NaN         NaN          NaN               NaN
4812           NaN         NaN          NaN               NaN
4813           NaN         NaN          NaN               NaN
4814           NaN         NaN          NaN               NaN

      Land Area (KmÂ²)  Density (P/KmÂ²)
0            652860.0             60.0
1             27400.0            105.0
2           2381740.0             18.0
3               470.0            164.0
4           1246700.0             26.0
...               ...              ...
4810              NaN              NaN
4811              NaN              NaN
4812              NaN              NaN
4813              NaN              NaN
4814              NaN              NaN

[4815 rows x 9 columns]

In [ ]:
df.columns

Index(['textID', 'text', 'sentiment', 'Time of Tweet', 'Age of User',
       'Country', 'Population -2020', 'Land Area (KmÂ²)', 'Density (P/KmÂ²)'],
      dtype='object')

In [ ]:
df.head()

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (KmÂ²),Density (P/KmÂ²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0

In [ ]:
df=df.dropna(subset=['text'])

In [ ]:
df['text'] = df['text'].astype(str)

In [ ]:
type('text')

str

In [ ]:
df['text_lower'] =df['text'].str.lower()

In [ ]:
df['text_upper']=df['text'].str.upper()

In [ ]:
print(df[['text','text_upper']])

                                                   text  \
0     Last session of the day  http://twitpic.com/67ezh
1      Shanghai is also really exciting (precisely -...
2     Recession hit Veronique Branquinho, she has to...
3                                           happy bday!
4                http://twitpic.com/4w75p - I like it!!
...                                                 ...
3529  its at 3 am, im very tired but i can`t sleep  ...
3530  All alone in this old house again.  Thanks for...
3531   I know what you mean. My little dog is sinkin...
3532  _sutra what is your next youtube video gonna b...
3533   http://twitpic.com/4woj2 - omgssh  ang cute n...

                                             text_upper
0     LAST SESSION OF THE DAY  HTTP://TWITPIC.COM/67EZH
1      SHANGHAI IS ALSO REALLY EXCITING (PRECISELY -...
2     RECESSION HIT VERONIQUE BRANQUINHO, SHE HAS TO...
3                                           HAPPY BDAY!
4                HTTP://TWITPIC.COM/4W75P - I LIKE IT!!
...                                                 ...
3529  ITS AT 3 AM, IM VERY TIRED BUT I CAN`T SLEEP  ...
3530  ALL ALONE IN THIS OLD HOUSE AGAIN.  THANKS FOR...
3531   I KNOW WHAT YOU MEAN. MY LITTLE DOG IS SINKIN...
3532  _SUTRA WHAT IS YOUR NEXT YOUTUBE VIDEO GONNA B...
3533   HTTP://TWITPIC.COM/4WOJ2 - OMGSSH  ANG CUTE N...

[3534 rows x 2 columns]

In [ ]:
df.to_csv("processed_test.csv",index=False)

In [2]:
df_1 = [["text_web_clean", "text_num_clean"]]